{% extends "base.html" %}
{% block content %}

<div id="main_content">

            <div class="left_content">
                <div id="basic-accordian">
                    {%for language in langs%}
                     <div id="{{language}}-header" class="accordion_headings" >{{lang_names[language]}}</div>
                       <div id="{{language}}-content">
                        <div class="accordion_child">
                        <p class="tab">
                            {{lang_names[language]}} -- самый великий и могучий язык в мире <br>
                            <a href="/language/{{language}}" target="_blank">Узнать больше...</a>
                        </div>
                      </div>

                {%endfor%}



                    </div>
                </div>

            <div class="right_content">
                <form action="query">
                    <div class="title">Выберите коллекции</div> <br>
                      <ul id="tree">
                    {% for language in langs %}
                     <li>
                        <label>
                            <input type="checkbox" />{{lang_names[language]}}
                        </label>
                        <ul>
                    {% for collection in collections[language] %}
                    {% if collection != "" %}
                         <li>
                            <label>
                                <input type="checkbox" name="collection" value="{{collection}}"><span class="tooltip" tabindex="0"><u>{{collection}}</u>
                    <span><p>Коллекция собрана в 2007 году</p><p>слов: 987</p><p>части речи: есть</p><p>глоссы: eng, rus</p>
                    <p>перевод: rus</p></span></span><Br>
                            </label>
                        </li>
                    {% endif %}
                    {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                            </ul>
                     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
  </script>

  <script type="text/javascript" src="/static/stylesheets/jQuery.Tree.js">
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#tree").Tree();
    });
  </script>
                    <br>
                    <p><input type="submit" value="Создать запрос" id="submit"></p>
                </form>
</div>
    </div>


{% endblock %}