{% extends "base.html" %}
{% block content %}
<body>
<a href="/">одну шаурму в обычном лаваше, пожалуйста</a><br>
{% for arg in  args %}
<br> {{ arg }}
{% endfor %}


  <ul id="tree">
    <li>
      <label>
        <input type="checkbox" />Категория
      </label>
      <ul>
        <li>
          <label>
            <input type="checkbox" />Элемент с чекбоксом
          </label>
        </li>
          <li>
          <label>
            <input type="checkbox" />Элемент с чекбоксом
          </label>
        </li>
      </ul>
    </li>
      <li>
      <label>
        <input type="checkbox" />Категория
      </label>
      <ul>
        <li>
          <label>
            <input type="checkbox" />Элемент с чекбоксом
          </label>
        </li>
      </ul>
    </li>
  </ul>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
  </script>

  <script type="text/javascript" src="/static/stylesheets/jQuery.Tree.js">
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#tree").Tree();
    });
  </script>
</body>


{% endblock %}