{% extends "base.html" %}
{% block content %}

    <div id="main_content">
        <div class="left_content">
        <div class="title">{{lang_name}}</div>
                <h1>Самое важное</h1>
                <p>{{lang_name}} язык -- самый {{lang_name}} язык в мире!</p>
                    {{text}}<br><br>
                <h1>Статистика</h1>
                <p>Для этого языка в корпусе есть {{c_size}} коллекций общим объёмом {{w_size}} словоупотреблений</p>
            </div>

                <div class="right_content">
                <div class="title">Словарь</div>
            <br>
            <table width="100%">
               <tr>
                <th>Глоссарий</th>
               </tr>
<tr><td>3.anim</td></tr>
<tr><td>EP</td></tr>
<tr><td>begin</td></tr>
<tr><td>Evenk</td></tr>
<tr><td>Com</td></tr>
<tr><td>five</td></tr>
<tr><td>brother</td></tr>
<tr><td>Ket</td></tr>
<tr><td>three</td></tr>
<tr><td>3</td></tr>
<tr><td>to the riverbank</td></tr>
<tr><td>pst</td></tr>
<tr><td>3.pl</td></tr>
<tr><td>go</td></tr>
<tr><td>Eloguy</td></tr>
<tr><td>mouth</td></tr>
<tr><td>dat.inan</td></tr>
<tr><td>tent</td></tr>
<tr><td>TH</td></tr>
<tr><td>inan</td></tr>
              </table>
            <br>

                </div>

    </div>

{% endblock %}
