<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ket @ SmallLang Corpora</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css" media="screen" />
<script type="text/javascript" src="/static/stylesheets/js.js"></script>
</head>

<body onload="new Accordian('basic-accordian',5,'header_highlight');">
<div id="main_container">
	<div id="header">
    	<div id="logo"><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" title="" border="0" /></a></div>

        <div id="menu">
            <ul>
                <li><a href="empty.html" title="">о нас</a></li>
                <li class="divider"></li>
                <li><a href="https://masterskie.wikispaces.com/-/2015/SmallLangs" target="_blank" title="">wikispaces</a></li>
            </ul>
        </div>

    </div>


    <div id="main_content">

            <div class="left_content">

                <div class="title">Кетский язык</div>  <br>

                    <div id="basic-accordian">
                     <div id="test-header" class="accordion_headings header_highlight" >Общие сведения</div>
                       <div id="test-content">
                        <div class="accordion_child">
                        <p class="tab">
<b>Кетский язык</b> – единственный сохранившийся представитель енисейской семьи языков. Кеты – коренное население таежной части бассейна Енисея (от р. Подкаменная Тунгуска на юге до р. Курейка на севере). В настоящее время большая часть кетов живет в поселках по Енисею и его притокам на территории Туруханского района Красноярского края. Почти треть кетского населения района сосредоточена в пос. Келлог, остальные расселены в пос. Мадуйка, Горошиха, Бакланиха, Сургутиха, Верещагино, Верхнеимбатск, Бахта. Единственный поселок за пределами Туруханского района с компактным кетским населением – это Суломай, расположенный на территории Эвенкийского муниципального района на Подкаменной Тунгуске в 80 км от ее устья. Различия между диалектами кетского языка (северный, центральный и южный, последний в свою очередь подразделяется на говоры елогуйский и подкаменнотунгусский) относительно невелики. В книге представлены тексты на каждом из диалектов.
Согласно переписи населения 2010 года, в России проживает 1219 кетов, из них 317 городских жителей и 902 – сельских. По нашим оценкам, основанным на результатах серии социолингвистических обследований, проводившихся нами в 1999-2009 гг., количество носителей кетского языка, владеющих им хоть в какой-то степени, сегодня не превышает 130-150 человек. Передача языка от родителей к детям прервана не менее трех десятков лет назад.                        </p>
                        </div>
                      </div>

                       <div id="test1-header" class="accordion_headings" >Фонетика и фонология</div>
                      <div id="test1-content">
                        <div class="accordion_child">
                            <p class="tab">
Ключевым моментом в фонетике и фонологии кетского языка является вопрос о тонах. В зависимости от ответа на этот вопрос строятся различные системы вокализма и, соответственно, – системы графической записи кетских словоформ. Согласно исследованию [Vajda 2003], в кетском языке выделяется 4 тона, которые на данный момент хорошо различаются только в изолированном (или близком к нему) произнесении односложных слов, а также 2 контура для двухсложных слов, которые могут восприниматься как наличие силового ударения на одном из слогов. Три тона имеют сегментную реализацию в современном языке. Наибольшие вопросы вызывает четвертый так называемый нисходящий тон, который не может интерпретироваться на сегментном уровне.
                       </p>
                        </div>
                      </div>

                       <div id="test2-header" class="accordion_headings" >Морфология</div>
                       <div id="test2-content">
                        <div class="accordion_child">
                             <p class="tab">
Кетский язык проявляет типологически разнородные черты: агглютинативность, синтетизм и даже полисинтетизм, характеризующийся вершинным маркированием. В языке наблюдается несколько типов аффиксации: префиксация, инфиксация и суффиксация, а также словосложение и  клитики. В словообразовании и  спряжении глагола используется преимущественно префиксация и инфиксация, а словообразование и словоизменение существительного осуществляется с помощью словосложения и суффиксов, некоторые из которых имеют черты, присущие клитикам.                        </p>
                        <h2>Имя</h2>
                        <p class="tab">
                            Вопрос о частеречной принадлежности основ в кетском языке остается открытым. Во всяком случае, в языке распространенные конверсивные соотношения между существительными и прилагательными и между именами действия, процесса результата и глаголами. Однако конкретная реализация словоформы в предложении благодаря ее морфологическим, семантическим  и синтаксическим свойствам чаще всего легко определяется в терминах частей речи. Вопрос о частеречной принадлежности основ в кетском языке остается открытым. Во всяком случае, в языке распространенные конверсивные соотношения между существительными и прилагательными и между именами действия, процесса результата и глаголами. Однако конкретная реализация словоформы в предложении благодаря ее морфологическим, семантическим  и синтаксическим свойствам чаще всего легко определяется в терминах частей речи. </p>
                            <h2>Местоимения, частицы и послелоги</h2>
                        <p class="tab">Мы глоссируем местоимения в кетском языке, исходя из их семантики.  Это касается и личных местоимений, которые обозначаются путем указания на лицо, число и класс. В кетском языке  существуют личные местоимения 1, 2, 3 лиц, единственного и множественного числа, а также женского и мужского класса. Неодушевленные предметы обозначаются только указательными местоимениями, которые изменяются по классу и числу соответствующими показателями, имеющими в нашей записи стандартную маркировку (SG, PL, M, F, TH, NTH). То же касается и относительных и вопросительных местоимений, которые также имеют показатели числа и класс (при этом чаще всего отдельно обозначается мужской класс единственного числа и одушевленность множественного числа, а показатели женского класса единственного числа и вещного класса единственного и множественного числа совпадают.
                       </p>
                            <h2>Глагол</h2>
                            <p class="tab">Глагольная словоформа строится из одной или двух основ и ряда словообразовательных и словоизменительных аффиксов. При этом сам по себе выбор той или иной модели носит словообразовательный характер. В связи с этим кетский глагол большинство авторов описывают с помощью порядковой модели с элементами словесно-парадигматической</p>
                        </div>
                       </div>



                    </div>

            </div>


        <div class="right_content">
                <div class="title">Глоссы для языка</div>
            <br>
            <table width="100%">
               <tr>
                <th>Транскрипция</th>
                <th>Глосса</th>
                <th>Значение</th>
               </tr>
               <tr><td>-a</td><td>NOM</td><td>nominative</td></tr>
               <tr><td>-b</td><td>ACC</td><td>accusative</td</tr>
               <tr><td>-c</td><td>PLPF</td><td>pluperfect</td</tr>
              </table>
            <br>
            <form action="empty.html">
                <input type="submit" name="submit" value="Создать запрос" id="submit" /></p>
                </form>

                </div>

        <div class="clear"></div>
       </div>


</div>
</body>
</html>
