{% extends "base.html" %}
{% block content %}

    <div id="main_content">
        <div class="left_content">
        <div class="title">{{lang_name}}</div>
                <h1>Самое важное</h1>
                <p>{{lang_name}} язык -- самый {{lang_name}} язык в мире!</p>
                    {{text}}<br><br>
                <h1>Статистика</h1>
                <p>Для этого языка в корпусе есть {{c_size}} коллекций общим объёмом {{w_size}} словоупотреблений</p>
            </div>

                <div class="right_content">
                <div class="title">Словарь</div>
            <br>
            <table width="100%">
               <tr>
                <th>Транскрипция</th>
                <th>Глосса</th>
                <th>Значение</th>
               </tr>
               <tr><td>-a</td><td>NOM</td><td>nominative</td></tr>
               <tr><td>-b</td><td>ACC</td><td>accusative</td></tr>
               <tr><td>-c</td><td>PLPF</td><td>pluperfect</td></tr>
                <tr><td>mor</td><td>мать</td><td>mother</td></tr>
                <tr><td>far</td><td>отец</td><td>father</td></tr>
                <tr><td>sju</td><td>семь</td><td>seven</td></tr>
                <tr><td>-a</td><td>NOM</td><td>nominative</td></tr>
               <tr><td>-b</td><td>ACC</td><td>accusative</td></tr>
               <tr><td>-c</td><td>PLPF</td><td>pluperfect</td></tr>
                <tr><td>mor</td><td>мать</td><td>mother</td></tr>
                <tr><td>far</td><td>отец</td><td>father</td></tr>
                <tr><td>sju</td><td>семь</td><td>seven</td></tr>
                <tr><td>-a</td><td>NOM</td><td>nominative</td></tr>
               <tr><td>-b</td><td>ACC</td><td>accusative</td></tr>
               <tr><td>-c</td><td>PLPF</td><td>pluperfect</td></tr>
                <tr><td>mor</td><td>мать</td><td>mother</td></tr>
                <tr><td>far</td><td>отец</td><td>father</td></tr>
                <tr><td>sju</td><td>семь</td><td>seven</td></tr>
              </table>
            <br>

                </div>

    </div>

{% endblock %}