<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SmallLang Corpora</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/static/stylesheets/jQuery.Tree.css" />
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
</head>

<body onload="new Accordian('basic-accordian',5,'header_highlight');">
<div id="main_container">
	<div id="header">
    	<div id="logo"><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" title="" border="0" /></a></div>

        <div id="menu">
            <ul>
                <li><a href="empty.html" title="">помощь</a></li>
                <li class="divider"></li>
                <li><a href="empty.html" title="">о нас</a></li>
                <li class="divider"></li>
                <li><a href="https://masterskie.wikispaces.com/-/2015/SmallLangs" target="_blank" title="">wikispaces</a></li>
                <li class="divider"></li>
                <li><a href="login" title="">войти</a></li>
            </ul>
        </div>

    </div>

    <div id="main_content">

 			<div class="left_content">


			<div class="title">Выберите языки</div>
                <br>

                <form action="/">
                    <input type="checkbox" name="lang" value="ket"><u>Кетский</u> <Br>
                    <input type="checkbox" name="lang" value="khakas"><u>Хакасский</u> <br>
                    <input type="checkbox" name="lang" value="chukchi"><u>Чукотский</u> <br>
                    <input type="checkbox" name="lang" value="itelmen"><u>Ительменский</u>
                    <br>
                    <br>
                    <p><input type="submit" value="Создать запрос" id="submit"></p>
                </form>

            </div>

            </div>


 			<div class="right_content">
            <div class="title">Новости корпуса</div>
                <div class="news_tab">
                <h1>Отчитываемся</h1>
                <p>Появилась возможность выбирать несколько языков и отдельные коллекции. Для каждого языка теперь есть страница с информацией о грамматике, глоссарием и краткой статистикой по коллекциям.</p>
                <div class="news_details"><span class="date">26.06.2016</span> <span class="user">by mk</span></div>
                </div>
                <div class="news_tab">
                <h1>Лучшее впереди!</h1>
                <p>Презентуем коллегам промежуточные результаты</p>
                <div class="news_details"><span class="date">26.04.2016</span> <span class="user">by mk</span></div>
                </div>

            </div>

        <div class="clear"></div>

       </div>


    </div>




</body>
</html>


