{% extends "base.html" %}
{% block content %}

<br>
    <div id="main_content">
        <div class="title">Поиск в корпусе</div> <br>
        Поиск в коллекциях:
            <ul>
            {% for collection in collections %}
                <li> {{collection}} </li>
            {% endfor %}
            </ul>
            <h2>Пожалуйста, создайте запрос</h2>
            <form action="result">
                        Текст:<br>
                        <input type="text" size="100" name="text"><br>
                        <input type="checkbox" checked name="show" value = "txt" id="text_show" /><label for="text_show">Включить в выдачу</label><br><br>
                        Глосса:<br>
                        <input type="text" size="100" name="gloss"><br>
                        <input type="checkbox" checked name="show" value = "gls" id="gloss_show"/><label for="gloss_show">Включить в выдачу</label><br><br>
                        Морфема:<br>
                        <input type="text" size="100" name="morph"><br>
                        <input type="checkbox" checked name="show" value = "mph" id="morph_show"/><label for="morph_show">Включить в выдачу</label><br><br>
                        Часть речи:<br>
                        <input type="text" size="100" name="pos"><br>
                        <input type="checkbox" checked name="show" value = "pos" id="pos_show"/><label for="pos_show">Включить в выдачу</label><br><br>
					</p>
                    <p><input type="submit" value=" Искать " id="submit"></p>
            </form>

    </div>

{% endblock %}
