{% extends "base.html" %}
{% block content %}

<br>
    <div id="main_content">
        <div class="title">Поиск в корпусе</div> <br>
        Поиск в коллекциях:
            <ul>
            {% for collection in collections %}
                <li> {{collection}} </li>
            {% endfor %}
            </ul>
            <h2>Пожалуйста, создайте запрос</h2>
            <form action="result">
                        Текст:<br>
                        <input type="text" size="100" name="text"><br><br>
                        Перевод:<br>
                        <input type="text" size="100" name="transl"><br><br>
                        Глосса:<br>
                        <input type="text" size="100" name="gloss"><br><br>
                        Морфема:<br>
                        <input type="text" size="100" name="morph"><br><br>
                        Часть речи:<br>
                        <input type="text" size="100" name="pos"><br><br>
                        <input type="checkbox" name="full_match" id="full_match"/><label for="full_match">Точное совпадение</label><br>
                        <input type="checkbox" name="case_sensitive" id="case_sensitive"/><label for="case_sensitive">Чувствительность к регистру</label><br><br>
                    </p>
                    <p><input type="submit" value=" Искать " id="submit"></p>
            </form>

    </div>

{% endblock %}


