<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SmallLang Corpora</title>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css" media="screen" />
<script type="text/javascript" src="js.js"></script>
</head>

<body onload="new Accordian('basic-accordian',5,'header_highlight');">
<div id="main_container">
	<div id="header">
    	<div id="logo"><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" title="" border="0" /></a></div>

        <div id="menu">
            <ul>
                <li><a href="empty.html" title="">о нас</a></li>
                <li class="divider"></li>
                <li><a href="https://masterskie.wikispaces.com/-/2015/SmallLangs" target="_blank" title="">wikispaces</a></li>
            </ul>
        </div>

    </div>

    <div id="main_content">

 			<div class="left_content">


			<div class="title">Выберите язык</div>
                <br>

                <form>
                    <p><select name="language">
                        <option selected value="ket">Кетский</option>
                        <option value="nanai">Нанайский</option>
                        <option value="chuchu">Чукотский</option>
                        <option value="kpelle">Кпелле</option>
                    </select></p>
                    <p>
                        </p><br>
                       <input type="submit" name="submit" value="Перейти к языку" id="submit" /></p>
                </form>

            </div>

            </div>


 			<div class="right_content">
            <div class="title">Новости корпуса</div>
  				<div class="news_tab">
                <h1>Лучшее впереди!</h1>
                <p>Презентуем коллегам промежуточные результаты</p>
                <div class="news_details"><span class="date">26.04.2016</span> <span class="user">by mk</span></div>
                </div>

            </div>



    </div>



</div>
</body>
</html>


